@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap%22");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

.banner{
    width: 100%;
    z-index: -1;
    position: absolute;
    &-imagen{
      margin-left: 65%;
      margin-top: 10%;
      max-width: 20%;
      min-height: 20%;
    }
}

