$color3: #FDCA7D;
$color4: #FDEEEA;
$color5: #043543;

.navbar{
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    display: flex;
    background-color:$color4 ;
    width: 100%;
        &__logo{
            width: 75px;
            height:25;
            margin-left: 5%;
        }
        &__boton{
            display: flex;
            width: 100%;
            justify-content:space-evenly;
            color: $color3;
            font-size: 24px;
            &--home{
                display: flex;
                padding: 3px;
                border-radius: 15px;
                justify-content: left;
                &--ruta{
                    color: $color5 !important;
                    &:hover{
                        color: rgb(0, 16, 155) !important;
                        }
                }
                }
            }
    }
