/* .navbarEstilos{
    background-color: white !important;
    color: black !important;
    padding: 0 20%;
    height: 8%;
}

.botonesNabvar{
    margin: 0 50px;
} */

/* Navbar */

$color1: #434343;


.navbar{
    display: flex;
    background-color:$color1 ;
    width: 100%;
        &__logo{
            width: 75px;
            height:25;
            margin-left: 5%;
            border-radius: 50%;
        }
        &__boton{
            display: flex;
            width: 50%;
            justify-content:space-evenly;
            color: #FDCA7D;
            &--home{
                display: flex;
                border: solid white;
                padding: 3px;
                border-radius: 15px;

                background-color:green;
                justify-content: center;
                margin: 2%;
                &:hover{
                    border: solid blue;
                    background-color: white;
                    /* text-transform: uppercase; */
                }
                }
            }
    
    }