$color5: #043543;

.valores{
    color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    margin-bottom: 10%;
    & h3{
        margin: 30px 0;
        text-align: center;
    }
    &-card{
        max-width: 350px ;
        min-height: 500px;
        margin: 0 5%;
        border-radius: 5px;
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

.titulos{
    color: $color5;
    text-align: center;
    margin: 10% 0 5% 0;
}

// MOBILE

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .valores{
        display: block;
        div{
            h3{
                text-align: left;
            }
        }
        &-card{
            display: flex;
            max-width: 90%;
            min-height: 80%;
            padding: 2%;
            flex-direction: row;
            &__img{
                max-width: 80px;
                max-height: 80px;
                margin: 8%;
            }
        }
    }
}