$color1: #f4f8fbc2;
$color2: #043543;


.banner-malibu{
    background-image: url('../../img/pagina-malibu/Group\ 334.png');
    background-color: $color1;
}

.pasteleria{
    background-color: $color1;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    
    &__parte1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__parte1__img{
        width: 65%;
        border-radius: 20px;
        margin: 5%;
        &-mara{
            max-width: 45%;
        }
    }
    &__parte2{
        
        padding: 5% 10%;
        color: $color2;
        margin: 10% 0px;
        
        h2{
            font-size: 72px;
        }        
        p{
            font-size: 18px;
        }
    }
    &-mara{
        background-color: #ffffff;
    }
}

// MOBILE

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .banner-malibu{
        background-image: url('../../img/Group\ 128.png');
    }

    .pasteleria{
        display: block;
        &__parte1{
            display: flex;
            
        }
        &__parte1__img{
            width:80%;

            &-mara{
                min-width: 300px;
                margin-bottom: 10%;
            }
        }
        &__parte2{
            display: grid;
            padding: 7%;
            color: $color2;
            margin: 0px;
            h2{
                font-size: 36px;
            }        
            p{
                font-size: 15px;
            }
        }
    }


}