$colorFondoCard: #FFD7CE;

.backgroundProductos{
    background-image: url('../../img/pagina-productos/svgProductos.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.containerProductosCat{
    display: grid;
    height: 100%;
    margin: 5% auto;
    grid-template-columns: repeat(auto-fit,
            minmax(350px, 1fr));
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.5);

    &__card{
        width: 356px;
        height: 538px;
        background-color: $colorFondoCard;
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 15px;
        &--img{
            margin: -30px auto;
            max-height: 455px;
            width: 100%;
            overflow: hidden;
        }

        &--txt{
            overflow: hidden;
            min-height: 100px;
            text-align: center;
            margin: 10% auto;
            padding: 10px;
            & h1{
                font-size: 25px;
            }
            & p{
                font-family: 'Roboto Slab', serif;
                font-weight: 600;
                font-size: 14px;
                
            }
        }
    }
}

@media (max-width: 1080px) {
    .containerProductosCat{
        display: grid;
        height: 100%;
        margin: 5% auto;
        margin-top: 15%;
        padding: 0px;
        grid-template-columns: repeat(auto-fit,
                minmax(150px, 0.5fr));
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.5);

        &__card{
            width: 178px;
            height: 400px;
            background-color: $colorFondoCard;
            margin: auto;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &--img{
                margin: auto;
                max-height: 250px;
                min-height: 210px;
                width: 100%;
            }
            &--txt{
                overflow: hidden;
                min-height: 160px;
            }
        }
    }
}