$color1: #FFD7CE;
$color2: #043543;
$color6: #FF8091;

.seccion-productos{
    background-image: url('../../img/Vector\ 34\ \(Stroke\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y:center ;
}

.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    &-leyenda{
        margin-top: 5% !important;
        margin-bottom: 2% !important;
        & p{
            padding: 0 20%;
            padding-top:2% ;
        }
    }
        & h3{
            text-align: left;
            margin: 30px 0;
        }
    &-card{
        display: flex;
        align-items:center ;
        justify-content: flex-end;
        flex-direction: column;
        max-width: 350px ;
        min-height: 470px;
        margin: 3% 5%;
        border-radius: 5px;

        &__img{
            /* max-height: 273px; */
            min-height: 200px;
            max-height: 250px;
            max-width: 230px;
            overflow: hidden;
        }

        &__txt{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-height: 200px;
            max-height: 200px;
            margin: 0 auto;
        }

        &__btn{
            background-color: $color1;
            color: $color2 ;
            width: 130px;
            height: 43px;
            border: none;
            border-radius: 6px;
            &:hover{
                color: $color6 !important;
                }
        }

        & h3{
            text-align: center;
        }
    }

}

// MOBILE
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .seccion-productos{
        font-size: 14px;
    }

    .productos{
        display: block;
        text-align: left;
        &-leyenda{
            & p{
                padding: 0 15%;
            }
            & h3{
                text-align: left;
            }
        }
        div{
            & h3{
                text-align: left;
                margin: 30px 0;
            }
        }
        &-card{
            flex-direction:row;
            max-width: 90%;
            min-height: 80%;
            padding: 2%;
            div {
                margin: auto;
                min-width: 150px;
            }
            &__img{
                min-height: 120px;
                max-width: 110px;
                min-width: 110px;
                margin-right: 20px;
            }
            &__btn{
                background-color: $color1;
                color:$color2 ;
                width: 90px;
                height: 30px;
                border: none;
                border-radius: 6px;
            }
        }
    
    }
}