@import './banner';
@import './navbar';
@import './sobreMalibu';
@import './prodDestacados';
@import './footer';
@import './buttonWSP';
@import './nuestrosValores';
<<<<<<< HEAD
@import '../modules/pagina\ productos/productos';

body{
    margin: 0;
    height: 100%;
    width: 100%;
}
=======

>>>>>>> 7f146e9e01867be00bbdd1ddb3f324c5b44e6b24
