/* @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap%22"); */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  /*     font-weight: bolder; */
  color: #043543;
}

.banner {
  background-image: url("../../img/Group 128.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1100px;
  width: 100%;
}

.banner-body {
  margin: 0;
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.banner-imagen {
  margin: auto;
  margin-top: 5%;
  margin-right: 0;
}

.banner-imagen__img {
  width: 100%;
}

.banner-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 10%;
  font-size: 20px;
}

.banner-texto h1 {
  font-weight: bolder;
  margin-bottom: 5%;
  font-size: 96px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner-imagen {
    width: 0%;
    height: 0%;
  }
  .banner-texto h2 {
    font-size: 48px;
    margin: 5% 10% 5px 40px;
    text-align: left;
  }
  .banner-texto p {
    font-size: 14px;
    padding: 0% 10%;
    text-align: left;
  }
}

/* .navbarEstilos{
    background-color: white !important;
    color: black !important;
    padding: 0 20%;
    height: 8%;
}

.botonesNabvar{
    margin: 0 50px;
} */
/* Navbar */
.navbar {
  height: 112px;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FDEEEA;
  width: 100%;
}

.navbar__logo {
  width: 135px;
  height: 60px;
  margin-left: 5%;
}

.navbar__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__boton--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
}

.navbar__boton--home a {
  color: #043543 !important;
}

.navbar__boton--home:hover {
  color: #00009b !important;
}

.malibu {
  background-image: url("../../img/Group 130.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 1100px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

.malibu-imagen {
  margin-top: 3%;
  margin-left: 0;
}

.malibu-imagen__img {
  width: 700px;
}

.malibu-texto {
  margin-left: 25%;
  margin-right: 25%;
  border: solid 3px white;
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  text-align: left;
  height: 450px;
}

.malibu-texto-p {
  font-weight: lighter !important;
}

.seccion-productos {
  background-image: url("../../img/Vector 34 (Stroke) (1).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin-bottom: 5%;
}

.productos-leyenda {
  margin-top: 5% !important;
  margin-bottom: 2% !important;
}

.productos-leyenda p {
  padding: 0 35%;
  padding-top: 2%;
}

.productos h3 {
  margin: 30px 0;
}

.productos-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  min-height: 500px;
  margin: 3% 5%;
  border-radius: 5px;
}

.productos-card__img {
  max-height: 273px;
  min-height: 200px;
  max-width: 230px;
}

.productos-card h3 {
  text-align: center;
}

/* FOOTER */
.footer {
  height: 250px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #FDEEEA;
  color: #043543;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconoFooter {
  margin: 20px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

.valores {
  color: #043543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin-bottom: 10%;
}

.valores h3 {
  margin: 30px 0;
  text-align: center;
}

.valores-card {
  max-width: 350px;
  min-height: 500px;
  margin: 0 5%;
  border-radius: 5px;
  padding: 3%;
}

.valores-card__img {
  margin: 0 23%;
}

.titulos {
  color: #043543;
  text-align: center;
  margin: 15% 0 5% 0;
}
/*# sourceMappingURL=styles.css.map */