@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Handlee&family=Lobster&family=Lobster+Two&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap%22"); */
.banner {
  background-image: url("../../img/Group 128.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 900px;
  width: 100%;
}

.banner-body {
  margin: 0;
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.banner-imagen {
  margin: auto;
  margin-left: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.banner-imagen__img {
  width: 60%;
}

.banner-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-top: 5%;
  padding-left: 15%;
  font-size: 20px;
}

.banner-texto h1 {
  font-weight: bolder;
  margin-bottom: 5%;
  font-size: 96px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner {
    height: 300px;
    background-size: 600px;
  }
  .banner-body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .banner-imagen {
    width: 0%;
    height: 0%;
  }
  .banner-texto {
    font-size: 14px;
    padding-top: 0;
    padding-left: 0;
  }
  .banner-texto h1 {
    font-size: 50px;
    text-align: left;
    padding: 0% 5%;
  }
  .banner-texto p {
    padding: 0% 5%;
    text-align: left;
  }
}

.botonColapseNav {
  border: none;
}

.navbar {
  font-family: 'Bebas Neue';
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FDEEEA;
  width: 100%;
}

.navbar__logo {
  width: 125px;
  height: 25;
  margin-left: 5%;
}

.navbar__logo2 {
  display: none;
}

.navbar__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #FDCA7D;
  font-size: 24px;
}

.navbar__boton--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  border-radius: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbar__boton--home--ruta {
  color: #043543 !important;
}

.navbar__boton--home--ruta:hover {
  color: #FF8091 !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .navbar__logo {
    display: none;
  }
  .navbar__logo2 {
    display: initial;
  }
}

.malibu {
  background-image: url("../../img/Group 130.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 1100px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

.malibu-imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.malibu-imagen__img {
  width: 70%;
}

.malibu-texto {
  margin-left: 10%;
  margin-right: 10%;
  border: solid 3px white;
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  text-align: left;
  height: 450px;
}

.malibu-texto-p {
  font-weight: lighter !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .malibu {
    background-image: url("../../img/FondoSobreMalibuMobile.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 550px;
    /* grid-template-columns: 1fr; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
  .malibu-imagen__img {
    width: 0px;
  }
  .malibu-texto {
    margin-top: 25%;
    height: auto;
  }
}

.seccion-productos {
  background-image: url("../../img/Vector 34 (Stroke) (1).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

.productos-leyenda {
  margin-top: 5% !important;
  margin-bottom: 2% !important;
}

.productos-leyenda p {
  padding: 0 20%;
  padding-top: 2%;
}

.productos h3 {
  text-align: left;
  margin: 30px 0;
}

.productos-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  min-height: 470px;
  margin: 3% 5%;
  border-radius: 5px;
}

.productos-card__img {
  /* max-height: 273px; */
  min-height: 200px;
  max-height: 250px;
  max-width: 230px;
  overflow: hidden;
}

.productos-card__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 200px;
  max-height: 200px;
  margin: 0 auto;
}

.productos-card__btn {
  background-color: #FFD7CE;
  color: #043543;
  width: 130px;
  height: 43px;
  border: none;
  border-radius: 6px;
}

.productos-card__btn:hover {
  color: #FF8091 !important;
}

.productos-card h3 {
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .seccion-productos {
    font-size: 14px;
  }
  .productos {
    display: block;
    text-align: left;
  }
  .productos-leyenda p {
    padding: 0 15%;
  }
  .productos-leyenda h3 {
    text-align: left;
  }
  .productos div h3 {
    text-align: left;
    margin: 30px 0;
  }
  .productos-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90%;
    min-height: 80%;
    padding: 2%;
  }
  .productos-card div {
    margin: auto;
    min-width: 150px;
  }
  .productos-card__img {
    min-height: 120px;
    max-width: 110px;
    min-width: 110px;
    margin-right: 20px;
  }
  .productos-card__btn {
    background-color: #FFD7CE;
    color: #043543;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 6px;
  }
}

.footer {
  height: 250px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #FFD7CE;
  color: #043543;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo2 {
  display: none;
}

.iconoFooter {
  margin: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    margin-top: 15%;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo2 {
    display: initial;
    margin-bottom: 30%;
  }
  .footer__iconos {
    margin-bottom: 15%;
  }
  .footer__iconos h2 {
    font-size: 20px;
  }
  .footer__iconos__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__iconos__img img {
    width: 80%;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

.valores {
  color: #043543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-bottom: 10%;
}

.valores h3 {
  margin: 30px 0;
  text-align: center;
}

.valores-card {
  max-width: 350px;
  min-height: 500px;
  margin: 0 5%;
  border-radius: 5px;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulos {
  color: #043543;
  text-align: center;
  margin: 10% 0 5% 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .valores {
    display: block;
  }
  .valores div h3 {
    text-align: left;
  }
  .valores-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90%;
    min-height: 80%;
    padding: 2%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .valores-card__img {
    max-width: 80px;
    max-height: 80px;
    margin: 8%;
  }
}

.bannerProductos {
  background-image: url("../../img/Group 128.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 40%;
}

.bannerProductos-body {
  margin: 0;
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bannerProductos-imagen {
  margin: auto;
  margin-top: 5%;
  margin-right: 0;
}

.bannerProductos-imagen__img {
  width: 100%;
}

.bannerProductos-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 10%;
  font-size: 20px;
}

.bannerProductos-texto h1 {
  font-weight: bolder;
  margin-bottom: 5%;
  font-size: 96px;
}

/* PRODUCTOS */
.contenedor {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../../img/pagina-productos/svgProductos.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 800px;
  margin-bottom: 10%;
}

.containerProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6% 0;
}

.containerProductos-img {
  width: 25%;
}

.containerProductos-img:hover {
  -webkit-transform: scale(1.15) translateY(-10px);
          transform: scale(1.15) translateY(-10px);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.containerProductos-texto {
  width: 500px;
  height: 265px;
  background-color: #ffd7ce;
  border-radius: 10px;
  padding: 60px;
}

.containerProductos-texto h2 {
  font-size: 40px;
}

.containerProductos-boton {
  width: 130px;
  height: 43px;
  background-color: #F4F8FB;
  border: none;
  border-radius: 10px;
}

.containerProductos-boton:hover {
  color: #FF8091 !important;
}

@media (max-width: 1080px) {
  .seccionProductos {
    font-size: 14px !important;
  }
  /* Productos */
  .contenedor {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../../../img/pagina-productos/fondoMedioMobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin: auto 3%;
    margin-bottom: 10%;
  }
  .containerProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin: 10% 0;
    background-color: #fdeeea;
    border-radius: 10px;
  }
  .containerProductos-img {
    max-height: 142px;
    min-width: 140px;
  }
  .containerProductos-texto {
    width: 500px;
    height: auto;
    background-color: #ffd7ce;
    border-radius: 0;
    padding: 30px;
    border-radius: 10px;
  }
  .containerProductos-texto h2 {
    font-size: 30px;
  }
  .containerProductos-boton {
    width: 130px;
    height: 43px;
    background-color: #F4F8FB;
    border: none;
    border-radius: 10px;
  }
  .seccion-productosDestacados {
    margin-top: 20%;
    background-color: #f4f8fb;
  }
}

@media (max-width: 650px) {
  .bannerProductos-body {
    min-height: 100%;
  }
  .contenedor {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../../../img/pagina-productos/fondoMedioMobile.png");
    background-size: 100%;
    background-position: center;
  }
}

.banner-contacto {
  background-image: url("../../img/pagina-contacto/Group 335.png");
  background-color: #f4f8fbc2;
}

.contacto {
  background-color: #f4f8fbc2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contacto__parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__parte1__img {
  width: 65%;
  height: 65%;
  border-radius: 20px;
  margin: 5%;
}

.contacto__parte1__img-redes {
  width: 80%;
  height: 80%;
}

.contacto__parte2 {
  padding: 17% 20%;
  color: #043543;
  margin: 15% 0px;
}

.contacto__parte2 h2 {
  font-size: 72px;
}

.contacto__parte2 p {
  font-size: 18px;
}

.contacto-redes {
  background-color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner-contacto {
    background-image: url("../../img/Group 128.png");
  }
  .contacto {
    display: block;
  }
  .contacto__parte1 {
    display: -ms-grid;
    display: grid;
    margin: 0px;
  }
  .contacto__parte1__img {
    width: 100%;
    height: 100%;
  }
  .contacto__parte1__img-redes {
    width: 100%;
    height: 100%;
    margin: 0px 20px;
  }
  .contacto__parte2 {
    padding: 5%;
    color: #043543;
    margin: 5%;
  }
  .contacto__parte2 h2 {
    font-size: 36px;
  }
  .contacto__parte2 p {
    font-size: 15px;
  }
  .contacto-redes {
    width: 80%;
    height: 80%;
    margin: 10px 20px;
  }
}

.banner-malibu {
  background-image: url("../../img/pagina-malibu/Group 334.png");
  background-color: #f4f8fbc2;
}

.pasteleria {
  background-color: #f4f8fbc2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.pasteleria__parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pasteleria__parte1__img {
  width: 65%;
  border-radius: 20px;
  margin: 5%;
}

.pasteleria__parte1__img-mara {
  max-width: 45%;
}

.pasteleria__parte2 {
  padding: 5% 10%;
  color: #043543;
  margin: 10% 0px;
}

.pasteleria__parte2 h2 {
  font-size: 72px;
}

.pasteleria__parte2 p {
  font-size: 18px;
}

.pasteleria-mara {
  background-color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner-malibu {
    background-image: url("../../img/Group 128.png");
  }
  .pasteleria {
    display: block;
  }
  .pasteleria__parte1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pasteleria__parte1__img {
    width: 80%;
  }
  .pasteleria__parte1__img-mara {
    min-width: 300px;
    margin-bottom: 10%;
  }
  .pasteleria__parte2 {
    display: -ms-grid;
    display: grid;
    padding: 7%;
    color: #043543;
    margin: 0px;
  }
  .pasteleria__parte2 h2 {
    font-size: 36px;
  }
  .pasteleria__parte2 p {
    font-size: 15px;
  }
}

.containerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarProductos {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  width: 50%;
}

.navbarProductos__logo {
  width: 75px;
  height: 25;
  margin-left: 5%;
}

.navbarProductos__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #FDCA7D;
  font-size: 24px;
}

.navbarProductos__boton--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  border-radius: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbarProductos__boton--home a {
  font-size: 40px !important;
}

.navbarProductos__boton--home--ruta {
  color: rgba(4, 53, 67, 0.7) !important;
}

.navbarProductos__boton--home--ruta:hover {
  color: #FF8091 !important;
}

@media (max-width: 1080px) {
  .navbarProductos {
    width: 100%;
  }
  .navbarProductos__boton {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    font-size: 13px;
  }
  .navbarProductos__boton--home a {
    font-size: 25px !important;
  }
}

.backgroundProductos {
  background-image: url("../../img/pagina-productos/svgProductos.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.containerProductosCat {
  display: -ms-grid;
  display: grid;
  height: 100%;
  margin: 5% auto;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.containerProductosCat__card {
  width: 356px;
  height: 538px;
  background-color: #FFD7CE;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
}

.containerProductosCat__card--img {
  margin: -30px auto;
  max-height: 455px;
  width: 100%;
  overflow: hidden;
}

.containerProductosCat__card--txt {
  overflow: hidden;
  min-height: 100px;
  text-align: center;
  margin: 10% auto;
  padding: 10px;
}

.containerProductosCat__card--txt h1 {
  font-size: 25px;
}

.containerProductosCat__card--txt p {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 1080px) {
  .containerProductosCat {
    display: -ms-grid;
    display: grid;
    height: 100%;
    margin: 5% auto;
    margin-top: 15%;
    padding: 0px;
    -ms-grid-columns: (minmax(150px, 0.5fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .containerProductosCat__card {
    width: 178px;
    height: 400px;
    background-color: #FFD7CE;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .containerProductosCat__card--img {
    margin: auto;
    max-height: 250px;
    min-height: 210px;
    width: 100%;
  }
  .containerProductosCat__card--txt {
    overflow: hidden;
    min-height: 160px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  color: #043543;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body h1 {
  font-family: 'Lobster Two', cursive;
  font-weight: bolder;
}

body p {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* text-align: center; */
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  body p {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center; */
  }
}
/*# sourceMappingURL=styles.css.map */