/* @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap%22"); */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  /*     font-weight: bolder; */
  color: #043543;
}

.banner {
  background-image: url("../../img/Group 128.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 900px;
  width: 100%;
}

.banner-body {
  margin: 0;
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.banner-imagen {
  margin: auto;
  margin-left: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.banner-imagen__img {
  width: 60%;
}

.banner-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-top: 5%;
  padding-left: 15%;
  font-size: 20px;
}

.banner-texto h1 {
  font-weight: bolder;
  margin-bottom: 5%;
  font-size: 96px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner {
    height: 300px;
    background-size: 600px;
  }
  .banner-body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .banner-imagen {
    width: 0%;
    height: 0%;
  }
  .banner-texto {
    font-size: 14px;
    padding-top: 0;
    padding-left: 0;
  }
  .banner-texto h1 {
    font-size: 62px;
    text-align: left;
    padding: 0% 5%;
  }
  .banner-texto p {
    padding: 0% 5%;
    text-align: left;
  }
}

.navbar {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FDEEEA;
  width: 100%;
}

.navbar__logo {
  width: 75px;
  height: 25;
  margin-left: 5%;
}

.navbar__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #FDCA7D;
  font-size: 24px;
}

.navbar__boton--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  border-radius: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbar__boton--home--ruta {
  color: #043543 !important;
}

.navbar__boton--home--ruta:hover {
  color: #00109b !important;
}

.malibu {
  background-image: url("../../img/Group 130.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  height: 1100px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

.malibu-imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.malibu-imagen__img {
  width: 70%;
}

.malibu-texto {
  margin-left: 10%;
  margin-right: 10%;
  border: solid 3px white;
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  text-align: left;
  height: 450px;
}

.malibu-texto-p {
  font-weight: lighter !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .malibu {
    background-image: url("../../img/FondoSobreMalibuMobile.png");
    display: -ms-grid;
    display: grid;
    height: 600px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
  }
  .malibu-imagen__img {
    width: 0px;
  }
  .malibu-texto {
    margin: 10%;
    height: 500px;
  }
}

.seccion-productos {
  background-image: url("../../img/Vector 34 (Stroke) (1).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin-bottom: 5%;
}

.productos-leyenda {
  margin-top: 5% !important;
  margin-bottom: 2% !important;
}

.productos-leyenda p {
  padding: 0 20%;
  padding-top: 2%;
}

.productos h3 {
  margin: 30px 0;
}

.productos-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  max-height: 500px;
  margin: 3% 5%;
  border-radius: 5px;
}

.productos-card__img {
  /* max-height: 273px; */
  min-height: 200px;
  max-width: 230px;
}

.productos-card__btn {
  background-color: #FFD7CE;
  color: #043543;
  width: 130px;
  height: 43px;
  border: none;
  border-radius: 6px;
}

.productos-card h3 {
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .seccion-productos {
    font-size: 14px;
  }
  .productos {
    display: block;
  }
  .productos-leyenda p {
    padding: 0 15%;
  }
  .productos-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90%;
    min-height: 80%;
    padding: 2%;
  }
  .productos-card__img {
    min-height: 120px;
    max-width: 110px;
    margin-right: 20px;
  }
  .productos-card__btn {
    background-color: #FFD7CE;
    color: #043543;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 6px;
  }
}

/* FOOTER */
.footer {
  height: 250px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #C3E0DC;
  color: #043543;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconoFooter {
  margin: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer__logo {
    width: 200px;
  }
  .footer__iconos h2 {
    font-size: 20px;
  }
  .footer__iconos__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__iconos__img img {
    width: 80%;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

.valores {
  color: #043543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin-bottom: 10%;
}

.valores h3 {
  margin: 30px 0;
  text-align: center;
}

.valores-card {
  max-width: 350px;
  min-height: 500px;
  margin: 0 5%;
  border-radius: 5px;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulos {
  color: #043543;
  text-align: center;
  margin: 10% 0 5% 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .valores {
    display: block;
  }
  .valores-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90%;
    min-height: 80%;
    padding: 2%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .valores-card__img {
    max-width: 80px;
    max-height: 80px;
    margin: 8%;
  }
}

.bannerProductos {
  background-image: url("../../img/Group 128.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 40%;
}

.bannerProductos-body {
  margin: 0;
  width: 100%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bannerProductos-imagen {
  margin: auto;
  margin-top: 5%;
  margin-right: 0;
}

.bannerProductos-imagen__img {
  width: 100%;
}

.bannerProductos-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 10%;
  font-size: 20px;
}

.bannerProductos-texto h1 {
  font-weight: bolder;
  margin-bottom: 5%;
  font-size: 96px;
}

/* PRODUCTOS */
.contenedor {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../../img/pagina-productos/svgProductos.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 800px;
  margin-bottom: 10%;
}

.containerProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6% 0;
}

.containerProductos-img {
  max-height: 364px;
  min-width: 363px;
  width: 200px;
}

.containerProductos-texto {
  width: 500px;
  height: 265px;
  background-color: #ffd7ce;
  border-radius: 10px;
  padding: 30px;
}

.containerProductos-boton {
  width: 130px;
  height: 43px;
  background-color: #F4F8FB;
  border: none;
  border-radius: 10px;
}

@media (max-width: 1080px) {
  .seccionProductos {
    font-size: 14px !important;
  }
  /* Productos */
  .contenedor {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../../../img/pagina-productos/fondoMedioMobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-bottom: 10%;
  }
  .containerProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin: 10% 0;
    background-color: #fdeeea;
  }
  .containerProductos-img {
    max-height: 142px;
    min-width: 140px;
  }
  .containerProductos-texto {
    width: 500px;
    height: auto;
    background-color: #ffd7ce;
    border-radius: 0;
    padding: 30px;
  }
  .containerProductos-boton {
    width: 130px;
    height: 43px;
    background-color: #F4F8FB;
    border: none;
    border-radius: 10px;
  }
  .seccion-productosDestacados {
    margin-top: 20%;
    background-color: #f4f8fb;
  }
}

@media (max-width: 650px) {
  .bannerProductos-body {
    min-height: 100%;
  }
  .contenedor {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../../../img/pagina-productos/fondoMedioMobile.png");
    background-size: 100%;
    background-position: center;
  }
}

.banner-contacto {
  background-image: url("../../img/pagina-malibu/Group 271.png");
  background-color: #f4f8fbc2;
}

.contacto {
  background-color: #f4f8fbc2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contacto__parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__parte1__img {
  width: 65%;
  height: 65%;
  border-radius: 20px;
  margin: 5%;
}

.contacto__parte1__img-redes {
  width: 35%;
  height: 35%;
}

.contacto__parte2 {
  padding: 17% 20%;
  color: #043543;
  margin: 15% 0px;
}

.contacto__parte2 h2 {
  font-size: 72px;
}

.contacto__parte2 p {
  font-size: 18px;
}

.contacto-redes {
  background-color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner-contacto {
    background-image: url("../../img/Group 128.png");
  }
  .contacto {
    display: block;
  }
  .contacto__parte1 {
    display: -ms-grid;
    display: grid;
    margin: 0px;
  }
  .contacto__parte1__img {
    width: 100%;
  }
  .contacto__parte1__img-redes {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
  }
  .contacto__parte2 {
    padding: 5%;
    color: #043543;
    margin: 5%;
  }
  .contacto__parte2 h2 {
    font-size: 36px;
  }
  .contacto__parte2 p {
    font-size: 15px;
  }
  .contacto-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner-malibu {
  background-image: url("../../img/pagina-malibu/Group 271.png");
  background-color: #f4f8fbc2;
}

.pasteleria {
  background-color: #f4f8fbc2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.pasteleria__parte1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pasteleria__parte1__img {
  width: 65%;
  height: 65%;
  border-radius: 20px;
  margin: 5%;
}

.pasteleria__parte1__img-mara {
  width: 35%;
  height: 35%;
}

.pasteleria__parte2 {
  padding: 17% 20%;
  color: #043543;
  margin: 15% 0px;
}

.pasteleria__parte2 h2 {
  font-size: 72px;
}

.pasteleria__parte2 p {
  font-size: 18px;
}

.pasteleria-mara {
  background-color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner-malibu {
    background-image: url("../../img/Group 128.png");
  }
  .pasteleria {
    display: block;
  }
  .pasteleria__parte1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pasteleria__parte1__img {
    width: 80%;
  }
  .pasteleria__parte1__img-mara {
    width: 200px;
    height: 200px;
    padding: 15px;
  }
  .pasteleria__parte2 {
    display: -ms-grid;
    display: grid;
    padding: 7%;
    color: #043543;
    margin: 0px;
  }
  .pasteleria__parte2 h2 {
    font-size: 36px;
  }
  .pasteleria__parte2 p {
    font-size: 15px;
  }
  .pasteleria-mara {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */