@import './banner';
@import './navbar';
@import './sobreMalibu';
@import './prodDestacados';
@import './footer';
@import './buttonWSP';
@import './nuestrosValores';
@import '../modules/pagina\ productos/productos';
@import './pagina-Contacto';
@import './pagina-Malibu';

body{
    margin: 0;
    height: 100%;
    width: 100%;
}
