@import './banner';
@import './navbar';
@import './sobreMalibu';
@import './prodDestacados';
@import './footer';
@import './buttonWSP';
@import './nuestrosValores';
<<<<<<< HEAD
@import '../modules/pagina\ productos/productos';

body{
    margin: 0;
    height: 100%;
    width: 100%;
}
=======
>>>>>>> f5ceb1eda392b142dc8de6b3aacf361171d1e8ff
