$color6: #FF8091;

.bannerProductos {
    background-image: url("../../img/Group\ 128.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 40%;

    &-body {
        margin: 0;
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &-imagen {
        margin: auto;
        margin-top: 5%;
        margin-right: 0;

        &__img {
            width: 100%;
        }
    }

    &-texto {
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        padding-left: 10%;
        font-size: 20px;

        & h1 {
            font-weight: bolder;
            margin-bottom: 5%;
            font-size: 96px;
        }
    }
}

/* PRODUCTOS */
.contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../../img/pagina-productos/svgProductos.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 800px;
    margin-bottom: 10%;
}

.containerProductos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6% 0;

    &-img {
        width: 25%;
    }

    &-img:hover{
        transform: scale(1.15) translateY(-10px);
        transition: all .5s ease-in-out;
    }
    

    &-texto {
        width: 500px;
        height: 265px;
        background-color: #ffd7ce;
        border-radius: 10px;
        padding: 60px;
        & h2{
            font-size: 40px;
        }
    }

    &-boton {
        width: 130px;
        height: 43px;
        background-color: #F4F8FB;
        border: none;
        border-radius: 10px;
        &:hover{
            color: $color6 !important;
            }
    }
}

@media (max-width: 1080px) {
    .seccionProductos {
        font-size: 14px !important;
    }

    /* Productos */
    .contenedor {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url("../../../img/pagina-productos/fondoMedioMobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        margin: auto 3%;
        margin-bottom: 10%;
    }

    .containerProductos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        margin: 10% 0;
        background-color: #fdeeea;
        border-radius: 10px;

        &-img {
            max-height: 142px;
            min-width: 140px;
        }

        &-texto {
            width: 500px;
            height: auto;
            background-color: #ffd7ce;
            border-radius: 0;
            padding: 30px;
            border-radius: 10px;
            & h2{
                font-size: 30px;
            }
        }

        &-boton {
            width: 130px;
            height: 43px;
            background-color: #F4F8FB;
            border: none;
            border-radius: 10px;
        }
    }

    .seccion-productosDestacados {
        margin-top: 20%;
        background-color: #f4f8fb;
    }
}

@media (max-width: 650px) {
    .bannerProductos {
        &-body {
            min-height: 100%;
        }
    }

    .contenedor {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url("../../../img/pagina-productos/fondoMedioMobile.png");
        background-size: 100%;
        background-position: center;
    }
}